# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Debug for Tangram
*.suo
*.db
*.ipch
*.db-shm
*.db-wal
*.db-opendb
*.opendb
*.pdb
/Tangram/TangramSolution/Tangram/intermediate/

.idea
cmake-build-debug
Tangram/TangramSolution/.vs/TangramSolution/FileContentIndex/c348dddd-5064-4e5e-b674-77b040fe8525.vsidx
Tangram/TangramSolution/.vs/TangramSolution/FileContentIndex/read.lock
Tangram/TangramSolution/build/Debug/Tangram.pdb